.theplayer_and_theWapon{
    position: absolute;
    top:350px;
    left:750px;
    /* transition: 10ms linear; */
}

.theplayer{
    background-color:#dc3545 ;
    width: 50px;
    height: 50px;
  }

  .mainweapon{
    background-color: #dc3545;
    width: 80px;
    height: 6px;
    transform-origin: -50% 50%;
    margin-left: 15px;
    transition: 0.2s linear;
  }

  .space_left{
    width: 80px;
    height: 6px;
    margin-right: 15px;
  }
  
  .space_top{
    width: 6px;
    height: 80px;
    margin-bottom:15px;
  }

  .space_bottom{
    width: 6px;
    height: 80px;
    margin-top:15px;
  }
  
  .ressurce{
    list-style: none;
    border-radius: 3%;
  }
  
  .nav-r{
    position: fixed;
    top:0px;
    left:50%;
    transform: translate(-50%);
  }
  
  
  .grid{
    border: solid 1px #ffc107;
    width: 17%;
    height: 9.5%;
    color: #f0f0f0;
  }
  
  .grid-item{
    width: 75%;height: 75%;opacity: 100% !important;
  }
  
  
  .item-info{
    position: relative;
    top: 100%;
    left: 125%;
    width: 200px;
    height: 300px ;
    background-color: #04414d;
    opacity: 75%;
    visibility: hidden;
  }
  
  .wood{
    width:15px;
    height: 15px;
    position: absolute;
    background-color:#664d03;
    border-radius: 50%;
  }
  
  .gold{
    width:25px;
    height: 25px;
    position: absolute;
    background-color:#ffc720;
    border-radius: 50%;
  }
  
  .btn_s{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  /* padding: 0.375rem 0.75rem; */
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn_s:hover{
    background-color: #fd7e14 !important; 
  }
  
  
  /* the screen width is 1530 px  */
  /* the screen height is 697 px  mayby 700 */
  
  .storeg{
    opacity: 65%;
    background-color: #212529 !important;
    border: solid 1px #ffc107;
    position: fixed;
    top:0%;
    left:100%; 
    transform:translate(0%,10%);
    height:80% ;
    width:20% ;
    transition: 1s;
  }
  
  
  .btn_sh{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .btn_sh:hover{
      background-color: #fd7e14 !important; 
    }
  
    .shop{
      opacity: 65%;
      background-color: #212529 !important;
      border: solid 1px #ffc107;
      position: fixed;
      top:0%;
      left:0%; 
      transform:translate(-100%,10%);
      height:80% ;
      width:20% ;
      transition: 1s;
    }
  
  
    .shop #grid-item{
  
    border-radius: 20%;
    }
  
  
  
  
    .monster{
      background-color: #191c1f;
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    /* هنا تعلمنا و بدقة تصميم ال انبوت رينج على ما اعتقد  */

    .monster_hp{
      position: relative;
      top:-20px;
      left:0px;
      appearance: none;
      background-color: transparent;
      border: #ffc107 solid 1px;
      border-radius: 5px;
      overflow: hidden;
      height: 8px;
      width: 36px ;
      outline: none;
    }
    .monster_hp::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width:0px ;
      height: 0px;
      border-radius: 50%;
      background-color:rgb(0, 255, 0);
      box-shadow: -100px 0 0 100px rgb(0, 255, 0);
    }

 

 
